<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603220167751-qpb4j7rrre78sgjeaee24p7kuitup830.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603220167751-qpb4j7rrre78sgjeaee24p7kuitup830</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>603220167751-6hqq2up3k8q9dmmqmvbtd1jg2gvkihj9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAK883tJsJKUNKMmFqHDv1rCPmSM9uggPg</string>
	<key>GCM_SENDER_ID</key>
	<string>603220167751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scscsa.thaki</string>
	<key>PROJECT_ID</key>
	<string>thaki-scsc</string>
	<key>STORAGE_BUCKET</key>
	<string>thaki-scsc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603220167751:ios:67c30dddf8767ff0f4b562</string>
</dict>
</plist>